/* Shared CSS */

.page {
    float: left;
    width: 100vw;
    height: 100vh;
}

.docScroller {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-scroll-snap-points-y: repeat(100%);
    -ms-scroll-snap-points-y: repeat(100%);
    scroll-snap-points-y: repeat(100%);
    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 100% 0%;
    -ms-scroll-snap-destination: 100% 0%;
    scroll-snap-destination: 100% 0%;
}

.inside {
    background: yellow;
    opacity: 0.3;
    width: 80vw;
    margin: 10vh 0 0 10vw;
    height: 80vh;
}

.page-title {
    position: absolute;
    margin: 4vh 0 0 10vw;
}


/* -> overwrite MDL */

h1 {
    font-size: 40 !important;
}

h2 {
    font-size: 30 !important;
}

.mdl-navigation__link {
    color: black !important;
}

.mdl-card__supporting-text {
    color: black !important;
    font-size:
}

.mdl-grid {
    padding-left: 0px !important;
}

.mdl-card {
    height: 40vh !important;
}


/* Header */
.main-nav {
    position: fixed;
    width: 100%;
    top: 0
}
.mdl-navigation__link {
    color: black !important;
}
.active-nav {
  font-size: 21px !important;
  font-weight: bold !important;
  color: purple !important;
}


/* Home page */

#name {
    display: inline-block;
    text-align: right;
    width: 100%;
    opacity: .8;
    margin-left: auto;
    margin-right: auto;
}

#home {
    background: url('../images/Name.jpg') center / cover;
}

#home>.inside {
    background: none;
    opacity: 1;
}


/* About page */

#Name-about-image {
    width: 310px;
    height: 400px;
    float: left;
    padding: 0px 20px 0px 0px;
    position: relative;
}

.about-image.mdl-card {
    background: url('../images/Name.jpg') center / cover;
}

/*#about>div>div>div {
    height: 37vh !important;
}*/

#about>.inside {
    background: none;
    opacity: 1;
}


/* Experience page*/

.card-image {
    height: 40px;
    padding: 20px 10px 0px 10px;
    float: left;
}

#experience>.inside {
    background: none;
    opacity: 1;
}


/*Skills page*/

#skills {
  text-align: center;
}

.skills-group>.mdl-chip {
    background-color: #e67987;
}

.languages-group>.mdl-chip {
    background-color: #929cd7;
}

.tools-group>.mdl-chip {
    background-color: #fec39b;
}

.frameworks-group>.mdl-chip {
    background-color: #aed8ae;
}

#skills > .inside {
    background: none;
    opacity: 1;
}


/* Footer */

.mdl-mini-footer {
    background-color: #fdeee3 !important;
    color: black !important;
    justify-content: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
}

.fa {
    height: 24px;
    cursor: pointer;
}
