/* Shared CSS */

.page {
    float: left;
    width: 100vw;
    height: 100vh;
}

.inside {
    /*background: yellow;
    opacity: 0.3;*/
    width: 80vw;
    margin: 10vh 0 0 10vw;
    height: 80vh;
}

.page-title {
    position: absolute;
    margin: 4vh 0 0 10vw;
}

/**/
/* -> overwrite MDL */
/**/
h1 {
    font-size: 60px !important;
}

h2 {
    font-size: 32px !important;
}

.mdl-grid {
    padding-left: 0px !important;
}

.mdl-card {
    height: 40vh !important;
}

/**/
/* Header */
/**/
.main-nav {
    position: fixed;
    width: 100%;
    top: 0
}

.mdl-navigation__link {
    font-weight: 900 !important;
    font-size: 15px !important;
    transition: transform 0.5s ease;
    transform: scale(1);
}

.nav1 {
  color: #74887C !important;
}

.nav2 {
  color: #7D6A88 !important;
}

.nav3 {
  color: #87516A !important;
}

.nav4 {
  color: #827E61 !important;
}

.nav5 {
  color: #5D7A88 !important;
}

.active-nav {
    transform: scale(1.5);
}

/**/
/* Home page */
/**/
#name {
    display: inline-block;
    text-align: right;
    width: 100%;
    opacity: .85;
    margin-left: auto;
    margin-right: auto;
}

#name>h1 {
  font-weight: 900;
}

#home {
    background: url('../images/yannickmamudo.gif') left top / cover;
}

#home>.inside {
    background: none;
    opacity: 1;
}

/**/
/* About page */
/**/
#about {
  background-color: #FDFBFE;
}

#about>.inside {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about-pic {
    height: 30%;
    display: flex;
    justify-content: center;
}

#about-pic img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: groove;
    border-width: 3px;
    border-color: #c1ccdd;
    transition: transform 0.5s ease;
    transform: scale(0.9);
}

#about-pic img:hover {
    transform: scale(1.1);
}

#about-text {
    height: 70%;
    padding: 10%;
    text-align: center;
}

#about-text>p {
    font-size: 18px;
}

#about>.inside {
    background: none;
    opacity: 1;
}

/**/
/* Experience page*/
/**/
#experience {
  background-color: #FEF9FB;
}
.card-image {
    height: 40px;
    padding: 20px 10px 0px 10px;
    float: left;
}

#experience>.inside {
    background: none;
    opacity: 1;
}

.Experience {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.mdl-card {
    margin-top: 10px;
    opacity: 0.8;
}

.mdl-card__supporting-text {
  background-color: #FDFCFE;
}

.card-head {
  color: black;
  font-weight: bold !important;
}

.msi-card>.mdl-card__title {
    background: url('../images/msi_internship.png') center / cover;
}

.bdo-card>.mdl-card__title {
    background: url('../images/bdo_internship.png') center / cover;
}

.eecs349-card>.mdl-card__title {
    background: url('../images/eecs349.png') center / cover;
}

.wip-card>.mdl-card__title {
    background: url('../images/wip.png') center / cover;
}

/**/
/*Skills page*/
/**/
#skills {
    text-align: center;
    background-color: #FDFDFA;
}

.mdl-chip {
    transition: transform 0.4s ease;
    transform: scale(1);
}

.mdl-chip:hover {
    transform: scale(1.1);
}

.languages-group>.mdl-chip {
  background-color: #D3F8E2;
}
.skills-group>.mdl-chip {
    background-color: #E4C1F9;
}
.frameworks-group>.mdl-chip {
  background-color: #F694C1;
}
.tools-group>.mdl-chip {
    background-color: #EDE7B1;
}


#skills>.inside {
    background: none;
    opacity: 1;
}

/**/
/* Footer */
/**/
.mdl-mini-footer {
    background-color: #D7F0FC !important;
    color: #3E515B !important;
    justify-content: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
}

.ft-icon {
    height: 24px;
    cursor: pointer;
    transition: transform 0.4s ease;
    transform: scale(1);
}

.ft-icon:hover {
    transform: scale(1.3);
}

.fa-file-text-o {
    color: #D7F0FC;
}

/**/
/* Responsive Media Queries */
/**/
@media screen and (max-width: 840px) {
    #about-pic img {
        height: 130px;
        width: 130px;
        border-width: 3px;
    }
    #about-text>p {
        font-size: 14px;
    }
    #experience {
        height: 130vh;
    }
    .mdl-card {
        height: 230px !important;
    }
}

@media screen and (max-width: 450px) {
    #about-text>p {
        font-size: 12px;
    }
    #experience {
        height: 145vh;
    }
    #name>h1 {
        font-size: 30px !important;
    }
    #name>h2 {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 370px) {
  #experience {
      height: 160vh;
  }
}

@media screen and (max-width: 350px) {
  #experience {
      height: 170vh;
  }
}
